body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  /*   margin-top: 50px; */
  border: 5px #000 solid;
  position: relative;
  width: 75%;
  margin: 50px auto;
}
.container {
  display: flex;
  column-gap: 40px;
}

.product-info {
  /*   display: flex; */
}
.box {
  flex: 1;
}

.product-details {
  /* flex: 1; */
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale {
  display: inline-block;
  position: absolute;
  top: -40px;
  left: -30px;
  color: #fff;
  background-color: red;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}

.product-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  margin: 0
}

/*  PRODUCT INFO */
.product-price {
  font-size: 24px;
}

.shipping-price {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-right: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* Color Boxes */
.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.color {
  /* display: inline-block; */
  width: 25px;
  height: 25px;
  background-color: #000;
  /* margin-right: 10px; */
  /*   margin-top: 10px; */
  /*   padding: 50px; */
  /*   border: solid black 10px; */
}

.color.red {
  background-color: red;
}

.color.orange {
  background-color: orange;
}
.color.pink {
  background-color: pink;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: #2f6ee2;
}
/* PRODUCT DETAILS */
.details-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 25px;
}

.details-list {
  list-style: square;
}

/*  BUTTON  */
.add-cart {
  width: 100%;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
}
